  <mat-toolbar style="background-color: rgba(135, 207, 235, 0.349);   box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);  ">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>timeline</mat-icon>
    </button>
    <span>TaxeBoisson</span>
    <span class="example-spacer"></span>
    <div class="routing">
      <button ><a  [routerLink]="['/home']">Home</a></button>
      <button ><a  [routerLink]="['/tauxTaxeTrimestrielle']">Taux</a></button>
      <button><a [routerLink]="['/taxeTrimestrielle']">Taxe</a></button>
    </div>
    <!-- <button mat-raised-button color="warn" (click)="openDialog1()">new Taux</button>
    <button mat-raised-button color="warn" (click)="openDialog2()">new Taxe</button> -->
  </mat-toolbar>
  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
 